<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Cemetery registry records update</title>
    </head>
    <body>
        <form action="/" method="GET">
            <button type="submit">Return Home</button>
        </form>

        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>

        <h1>Update a grave record</h1>
        <p>Enter the Memorial ID of a specific record to see its information.</p>
        <p>Make changes as needed, then click "Save Changes" to save the changes to database. Please verify the changes are accurate prior to saving.</p>
        
        <form action="/getUpdateRecord" method="GET">
            <label for="memorialId">Enter ID:</label>
            <input type="number" id="memorialID" name="memorialID">
            <button type="submit">Search</button>
        </form>
        
        <h1>Search Results</h1>
        <% if (record) { %>
        <table>
            <tr>
                <th>Field Name</th>
                <th>Value</th>
            </tr>
            <form action="/updateRecord" method="POST"> 
                <% for (let field in record) { %>
                <tr>
                    <td>
                        <label for="<%= field %>"><%= field === 'ID' ? 'ID (cannot be changed)' : field %></label>
                    </td>
                    <td>
                        <input type="text" value="<%= record[field] %>" name="<%= field %>" id="<%= field %>" <%= field === 'ID' ? 'readonly="readonly"' : '' %>>
                    </td>
                </tr>
                <% } %>
            <button type="submit">Update Record</button>
            </form>
        </table>
        <% } else if (message) { %>
            <p><%= message %></p>
        <% } else { %>
            <p>Invalid ID. Please enter a valid ID to search for a record.<p>
        <% } %>
    </body>
</html>